# pdf
A.pdf
project.pdf

#png
myqr.png
myqr.svg

main
barcode

# mp3
welcome.mp3
welcome.wav
speaker.wav


# Azure connection
connect-azure-sql.py


# enviroment
.env

# file
*.png
*.svg
*.pdf
*.wav
*.csv
*.txt
*.json
*.log
# __pycache
__pycache__

# 
.ipynb_checkpoint

Not_Git_things
